body/*Because body margin default is 8px*/
{  
    margin: 0;
    min-height: 1800px;
    
}
.content
{
    width: 1200px;
    margin: auto;/*to be at the middle of the page*/
    position: fixed;
     width: 100%;
    height: 53px;
    background-color: #1c110b;
    border-top: 1.5px solid #e4ac01;
    border-bottom: 2px solid #e4ac01;
    z-index: 9999999;
    
}
.header
{
    width: 100%;
    height: 53px;
    background-color: #170e09;
   
 border-bottom: 2px solid #e4ac01;
}
.header.logo/*logo eli gwa l header*/
{
    float: left;
  }
.header .logo img
{
    width: 200px;
    height: 55px;
    cursor: pointer;
    
}
.header .nav
{
  float: right; 
}
ul
{
    list-style-type:none;
    margin-right: 44px;
    margin-top: 1%
    
}
.header .nav ul li/*nesting*/
{
    float: left;/* left 3ashan l home tegy l awel*/
    padding: 10px;
    margin-top:0px;
    
}
.header .nav ul li a
{
    font-size: 18px;
    font-family: Cursive;
    color: #c1b8ae;
    text-decoration: none;/*delete line*/ 
}
.header .nav ul li a:hover
{  background-color: #2e1c11;
  color: #e4ac01;
}
.body
{
    background:url("../images/boy.jpg")no-repeat;
    background-size: 100% 100%;
    height: 850px;
}
pre.text
{
    font-size: 45px;
    color: #fff2cc;
    opacity: .9;
    margin: 0px;
    position: absolute;
    top:50%;
    left:60px;
    font-family:cursive ;
}
pre.founder
{
    font-size: 15px;
    color: #fff2cc;
    opacity: .9;
    margin: 0px;
    position: absolute;
    top:80%;
    left:160px;
    font-family:cursive ;
}
pre.name
{
    font-size: 15px;
    color:#fbc944;
    opacity: .9;
    margin: 0px;
    position: absolute;
    top:80%;
    left:162px;
    font-family:cursive ;
}
p.sentenceY
{
    font-size: 45px;
    color:#e5a700 ;
    margin: 0px;
    position: absolute;
    top:990;
    left:180px;
    font-family:cursive ;
}
pre.sentenceB
{
    font-size: 45px;
    color:black;
    margin: 0px;
    position: absolute;
    top:928px;
    left:630px;
    font-family:cursive ;
}
p.sentenceB
{
    font-size: 45px;
    color:black;
    margin: 0px;
    position: absolute;
    top:1060px;
    left:180px;
    font-family:cursive ;
}
pre.table
{
    font-size: 30px;
    color:black;
    margin: 0px;
    position: absolute;
    top:1190px;
    left:140px;
    font-family:cursive ;
}
pre.tabel1
{
    font-size: 16px;
    color:#94989a;
    margin: 0px;
    position: absolute;
    top:1290px;
    left:182px;
    font-family:cursive ;
}
pre.tabel11
{
   font-size: 16px;
    color:#94989a;
    margin: 0px;
    position: absolute;
    top:1290px;
    left:750px;
    font-family:cursive ; 
}
.centered-img
{
    position: absolute; /* to have the full access to adjust left and right attributes */
    left: 0;
    right: 0;
    margin: 0 auto; /* to center the image */
    width: 1030px; /* you can adjust the width of the image as yo like */
    float:left;
    
}

.paragraph 
{
    min-height: 600px;
    
}
p.sentenceY2
{
    font-size: 45px;
    color:#e5a700 ;
    margin: 0px;
    position: absolute;
    top:2050px;
    left:240px;
    font-family:cursive ; 
}
p.sentenceB2
{
   font-size: 45px;
    color:black;
    margin: 0px;
    position: absolute;
    top:2050px;
    left:610px;
    font-family:cursive ; 
}
.img1
{
    position: absolute; /* to have the full access to adjust left and right attributes */
    left:370px;
    right:500px;
    top: 2200px;
    width: 15px; /* you can adjust the width of the image as yo like */
    height: :15px; 
}
.img2
{
    position: absolute; /* to have the full access to adjust left and right attributes */
    left:370px;
    right:500px;
    top: 2500px;
    width: 15px; /* you can adjust the width of the image as yo like */
    height: :15px;
}
.img3
{
   position: absolute; /* to have the full access to adjust left and right attributes */
    left:370px;
    right:500px;
    top: 2800px;
    width: 15px; /* you can adjust the width of the image as yo like */
    height: :15px; 
}
.choose
{
    font-size: 25px;
    color: #4b5864;
    position: absolute;
    top:2280px;
    left:330px;
    font-family:cursive ;
}
.meet
{
    font-size: 25px;
    color: #4b5864;
    position: absolute;
    top:2580px;
    left:370px;
    font-family:cursive ;
}
.fill
{
    font-size: 25px;
    color: #4b5864;
    position: absolute;
    top:2880px;
    left:290px;
    font-family:cursive ;  
}
pre.text1
{
    font-size: 16px;
    color:#94989a;
    margin: 0px;
    position: absolute;
    top:2190px;
    left:530px;
    font-family:cursive ; 
}
pre.text2
{
    font-size: 16px;
    color:#94989a;
    margin: 0px;
    position: absolute;
    top:2500px;
    left:530px;
    font-family:cursive ;  
}
pre.text3
{
    font-size: 16px;
    color:#94989a;
    margin: 0px;
    position: absolute;
    top:2810px;
    left:530px;
    font-family:cursive ; 
}
html,body
{
    height:100%;
}
#container
{
    min-height:100%;
}
#main
{
    overflow: auto;
    padding-bottom: 100%;
}
#footer
{
    background-color: #1f130c;
    position:relative;
    height:16.5%;
    margin-top:-100px;
    clear:both;
}
p.about 
{
    font-size:25;
    color:#dcd0c3;
    margin:0px;
    top:3230;
    position: absolute;
    left:65;
    font-family:cursive;
    font-weight:bold;
    cursor:pointer;
}
p.about:hover
{
     color:#e1a401;
}
pre.aboutdetalis
{
     font-size:16;
     color:#9c926c;
     margin:0px;
     top:3260;
     position: absolute;
     left:65;
     font-family:cursive;
}

p.contact
{
    font-size:25;
    color:#dcd0c3;
    margin:0px;
    top:3230;
    position: absolute;
    left:833;
    font-family:cursive;
    font-weight:bold;
    cursor:pointer; 
}
p.contact:hover
{
    color:#e1a401;
}
pre.contactdetalis
{
     font-size:16;
     color:#9c926c;
     margin:0px;
     top:3260;
     position: absolute;
     left:833;
     font-family:cursive; 
}
p.phone
{
   font-size:16;
   color:#9c926c;
   margin:0;
   position: absolute;
   top:3410;
   left:833;
   font-family:cursive;
   cursor:pointer;
}
p.phone:hover
{
   color:#e1a401; 
}
.i
{
 margin-left:10%;
 top:450%;
 position: absolute;
 color:#9c926c;
 cursor:pointer;
}
.i i:hover
{
 color:#e1a401;
}
