@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  background: #101;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-family: 'Roboto',Arial;
  font-weight: 300;
  color: #bbc;
}

div {
    position: relative;
    height: calc( 100vh - 60px);
    transform: translateY(50%);
}

span {
  display: inline-block;
  transition: all ease 0.9s;
  opacity: 0;
  min-width: 10px;
}

